<!-- Content Header (Page header) -->
<script>
</script>
<section class="content-header">
    <h1 class="titleMYACC">
        <span class="urlTitle" ng-click="redirectToFormalVerification()">Formal Verification / </span><span class="urlTitle" ng-click="redirectToFormalVerificationFlowtable()">Flowtable / </span>Redundancies
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="box-content">
        <div class="panel panel-default">
            <h4 class="NestedType">
                <ul style="list-style-type: none;">
                    <li ng-repeat="(key, value) in verifications">
                        <h4 class="valueTopo">{{value.name}}
                            <div class="pull-right">
                                <button title="See verification's details" type="button" data-toggle="modal"
                                    data-target="#popUp" class="fa fa-info-circle Btnmybelongings">
                                </button>
                                <button title="Download details" ng-click="download(id)"
                                    type="button" class="fa fa-download Btnmybelongings">
                                </button>
                                <button title="Remove verification" ng-click="remove(id)"
                                    type="button" class="fa fa-trash Btnmybelongings">
                                </button>
                            </div>
                        </h4>

                        <div id="popUp" class="modal fade" role="dialog">
                            <!-- Box with all information -->
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="BtnClosemybelongings close"
                                            data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Details</h4>
                                    </div>
                                    <div class="modal-body">
                                        <h3 align="center">
                                            <div ng-repeat="(key, value) in verifications">
                                                <span class="MyInfo">Name: </span><span class="MyInfoP">{{value.name.toString()}}</span>
                                                </br>
                                                <span class="MyInfo">Number of Flows: </span><span class="MyInfoP">{{value.n_flows.toString()}}</span>
                                                </br>
                                                <span class="MyInfo">Status: </span><span class="MyInfoP">{{value.status.toString()}}</span>
                                                </br>
                                                <span class="MyInfo">Topology: </span><span class="MyInfoP">{{topologies[value.topologyAssociatedId.toString()].name}}</span>
                                                </br>
                                                <span class="MyInfo">Date: </span><span class="MyInfoP">{{value.when.toString()}}</span>
                                                </br>
                                                <span class="MyInfo">Details: </span><span class="MyInfoP">{{value.details.toString()}}</span>
                                            </div>
                                        </h3>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="BtnClosemybelongings"
                                            data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                </ul>
            </h4>
        </div>
        <button ng-click="verifyRulesFlowtable()" class="AddElementBtn" type="submit">
            <div>
                Verify Redundancies in the Current Flowtable
            </div>
        </button>
    </div>
</section>
<!-- /.content -->