<!-- Content Header (Page header) -->
<script>
</script>
<section class="content-header">
    <h1 class="titleMYACC">
       Topologies
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="panel panel-default">
        <button class="BoxInput" ng-click="window.location.href=/dashboard.html"><h4 class="Titlemyaccount">Saved Topologies</h4></button>
        <button class="BoxInput" ng-click="window.location.href=/.html"><h4 class="Titlemyaccount">Current Topology</h4></button>
        <button class="BoxInput" ng-click="addHost()"><h4 class="Titlemyaccount">Add Topology</h4></button> 
    </div>
</section>
<!-- /.content -->

